* {
    box-sizing: border-box;
    padding: 0px 0px 0px 0px;
    
  }
body{
    background: #F5F5F5;  
}

.logIn{
      /* Log in */
  
  
      /* Auto layout */
  
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px;
      gap: 32px;
  
      position: absolute;
      width: 416px;
      height: 552px;
      left: 272px;
      top: 264px;

}

/*Nazwa loginu */
h1.Header{
    width: 89px;
    height: 43px;

    /* Header */
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px; 

    /* Purple Dark */    
    color: #636BB7;
    font-weight: bold;
    
    /* Inside auto layout */    
    flex: none;
    order: 0;
    flex-grow: 0;

}
  
.Frame3{
    /* Frame 3 */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;

    width: 416px;
    height: 477px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.Frame2{
    /* Frame 2 */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 416px;
    height: 206px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
form.mainEmail{
    /* Input */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 416px;
    height: 62px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

}

.login_email_input{
    /* Log in Email Input */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 416px;
    height: 62px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
label.labelEmail{
    /* Label */


    width: 33px;
    height: 18px;

    /* Labels/Body Small */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */


    /* Gray Dark */

    color: #0E0E18;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
label.labelPassword{
    /* Label */


    width: 58px;
    height: 18px;

    /* Labels/Body Small */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */


    /* Gray Dark */

    color: #0E0E18;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
input#email{ 
    /* Input */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 24px;

    width: 416px;
    height: 40px;

    /* White */

    background: #FFFFFF;
    /* Gray Medium */

    border: 1px solid #5C6773;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

input#id_password{
    /* Input */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    gap: 24px;

    width: 416px;
    height: 40px;

    /* White */

    background: #FFFFFF;
    /* Gray Medium */

    border: 1px solid #5C6773;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.Frame_14976{
    /* Frame 14976 */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 416px;
    height: 128px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.login_password_input{
    /* Log in Password input */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 416px;
    height: 88px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  
}
form.mainPassword{
    /* _base_password_input */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 416px;
    height: 88px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

}
form i {
    margin-left: -30px; 
    position: absolute;
    top: 1;
    right: 0;
    cursor: pointer;
    color: black;
}

 div.resetPassword{
    /* Message */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 416px;
    height: 88px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    text-align: right;
    text-decoration-line: underline;
    
   

} 

button#resetPassword{
    
    padding: 0 0px 0 10px;
    text-align: right;
    text-decoration-line: underline;
    background-color: inherit;
    border: none;
    font-size: 12px;
    display: inline-block;
    cursor: pointer;
    margin-left: 66%;
}


.show-btn{
    position:absolute;
    right: 50px;
    top: 50%;
    bottom: 10px;
    transform: translateY(-20%);
    font-size: 20px;
    cursor: pointer;
    display: block;
   
}
.checkboxRememberMe{
    top:1521px;
    left: 272px;
    bottom: 535px;
    right: 1515px;
    padding-bottom: 33.5px;
}


input#rememberMe{
/* Checkbox Remember me */


/* Auto layout */

    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
    display: inline-block;
    padding-bottom: 20%;

}

button.loginIn{
    /* Button Log in */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px 10px 125px;
    gap:8px;
    border: 10px;

    width: 304px;
    height: 45px;

    /* Purple Dark */

    background: #636BB7;
    border-radius: 36px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    
    /* Buttons */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;

    /* White */

    color: #FFFFFF; 
    
} 

button.loginIn:hover{
    background-color: #32386A;
}

.Frame14989{
    /* Frame 14989 */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 416px;
    height: 140px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}
.Frame7{
    /* Frame 7 */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 416px;
    height: 18px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.line1 {
        /* Line 1 */
    
    width: 100%;
    height: 0px;

    /* Gray Light */

    border: 1px solid #BDC2CB;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;

}
h2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #BDC2CB;
    line-height: 0.1em;
    margin: 10px 0 20px; 
    opacity: 0.8;
    font-size: 12px;
    
 } 
 
 h2 span { 
    background: #F5F5F5;
    /* Labels/Body Small */
    color: #5C6773;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    border-radius: 36px;
 }




.loginImage{
        /* Overlay */
    position: absolute;
    width: 964px;
    height: 1080px;
    left: 960px;
    top: 0px;
    padding-top: 0px;
    background: rgba(99, 107, 183, 0.2);
}
